#MainLayout{
    padding-left: 280px;
}
#header .container .row a {
  text-decoration: none;
  color: #ffffff;
}

#header .container .row .dropdown ul li a {
  text-decoration: none;
  color: black;
}
h4{
    color:#000000;
    position: center;

}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
