body {
	background:#ffffff;
  background-color: #d2d2d2;
  overflow-y: scroll;
}

.navbar{
	min-height: 33px;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-nav > li > a, .navbar-brand {
	padding-top: 6px;
	padding-bottom: 6px;
	height: 33px;
}

.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff	;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #3d3c3e;
}
.navbar .navbar-toggle {
  border-color: #3d3c3e;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #3d3c3e;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #4b4b4b;
}
.main-color-bg {
	background-color :#e74c3c;
	border-color :#c0392b;
	color: #ffffff;
}
.main-color-list {
	background-color: #ffffff;
	color :#000000;
	border-color :#000000;
}



/*header*/
#header {
	background :#333333;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
#header .create {
	padding-top: 15px;
}

/*breadcrumb*/
.breadcrumb {
	background :#fffff3;
	color :#000000;
}

.breadcrumb a {
	color: #333333;
}

.dash-box {
	text-align: center;
}

/* Header Container */

#header .container .row a {
  text-decoration: none;
  color: #ffffff;
}

#header .container .row .dropdown ul li a {
  text-decoration: none;
  color: black;
}



/*footer*/
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Sub Menu SLide TOggle*/
.submenu {
  display: none;
}
.typeSlider {
    display: none;
}


@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4b4b4b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4b4b4b;
    background-color: #3d3c3e;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4b4b4b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4b4b4b;
    background-color: #3d3c3e;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4b4b4b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4b4b4b;
    background-color: #3d3c3e;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4b4b4b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4b4b4b;
    background-color: #3d3c3e;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #4b4b4b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #4b4b4b;
  background-color: #3d3c3e;
}