body {

	background-repeat: no-repeat;
	background-position: center;
	font-size: 24px;
	background-color: #ffffff;

}

.form {
	margin:auto;
	text-align: center;
	width: 100%;
	height:100%;
	padding-top: 200px;
	float: center;

}

td	{

	padding: 7px;
}

.table {
	border-spacing: 1px;
	margin: 1 1 1 1;
	border-radius: 20px;
	background-color: rgba(211,211,211,0.5);
	width: 30%;
	border : 1px;

}