#MainLayout{
    padding-left: 280px;
    margin: 1%;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modal { 
    width: 90%  ;
    height: 70%  ;
}
.tabs .tab a{
    color:#97ce2f;
} /*Black color to the text*/
.tabs .tab a:hover {
    background-color:#ffffff;
    color:#97ce2f;
} /*Text color on hover*/
.tabs .tab a.active {
    background-color:#ffffff;
    color:#97ce2f;
} /*Background and text color when a tab is active*/
.tabs .indicator {
    background-color:#97ce2f;
} /*Color of underline*/