{% extends "layout.html" %}
{% block body %}
	<div id="MainLayout">
		<div class="row" style="grid-auto-flow: row dense;">
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="myChart2"></canvas>
					</div>
				</div>
			</div>
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="myChart3"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="tabs tabs-fixed-width tab-demo z-depth-1" >
					<li class="tab"><a class="active" href="#tab_a" >Security Log</a></li>
					<li class="tab"><a  href="#tab_b" >Access Log</a></li>
					<li class="tab"><a href="#tab_c" >Edit Server</a></li>
					<li class="tab"><a href="#tab_d" >Report</a></li>
				</ul>
				<div class="tab_content" style="background-color: white;border-radius: 1px;padding-left: 13px;padding-top: 10px; border-bottom: solid 1px;height: 500px;overflow-y: scroll;overflow-x: scroll;">
					<!-- tab 1 -->
					<div id="tab_a" class="col s12">
						<div class="row">
							<table id="table_id" class="display">
								<thead>
									<tr>
										<th>ID</th>
										<th>Date/Time</th>
										<th>EventName</th>
										<th>IP Source</th>
										<th>Destination</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									{% for data in SecurityLog %}
										<tr>
											<td> {{ data['transaction']['id'] }} </td>
											<td> {{ data['transaction']['time_stamp'] }} </td>
											<td> {{ data['transaction']['messages'][0]['message'] }} </td>
											<td> {{ data['transaction']['request']['headers']['Host'] }} </td>
											<td> {{ data['transaction']['host_ip'] }}:{{ data['transaction']['host_port'] }} </td>
											<td><a class="tooltip" href="#ModalDetailPage">
	                                        <i class="material-icons">receipt</i>
	                                        <span class="tooltiptext">Detail</span>
	                                    </a></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- tab 2 -->
					<div id="tab_b" class="col s12">
						<div class="row">
							<div class="col s12">
								<table id="table_id2" class="display">
									<thead>
										<tr>
											<th>TimeStamp</th>
											<th>From</th>
											<th>To</th>
											<th>Request</th>
											<th>Request Body</th>
											<th>Status</th>
											<th>Body Bytes Sent</th>
											<th>User Agent</th>
										</tr>
									</thead>
									<tbody>
										{% for data in AccessLogs%}
										<tr>
											<td>{{ data['time_local'] }}</td>
											<td>{{ data['remote_addr'] }}</td>
											<td>{{ data['server_pass2'] }}</td>
											<td>{{ data['request'] }}</td>
											<td>{{ data['request_body'] }}</td>
											<td>{{ data['status'] }}</td>
											<td>{{ data['body_bytes_sent'] }}</td>
											<td>{{ data['http_user_agent'] }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="tab_c" class="col s12">
						<div class="row">
							<form class="col s12">
								<div class="row">
									<div class="input-field col s6">
										<input name="servername" id="servernametxt" value="{{ ServerDetail['ServerName'] }}" type="text" data-length="20">
										<label for="servername">Server Name</label>
									</div>
									<div class="input-field col s6">
										<input name="ip" id="iptxt" type="text" value="{{ ServerDetail['IP'] }}" data-length="20">
										<label for="ip">IP</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<input name="portsopen" id="portsopentxt" value="{{ ServerDetail['Port'] }}" type="text" data-length="20">
										<label for="portsopen">Ports Open</label>
									</div>
									<div class="input-field col s6">
										<input name="domain" id="domaintxt" value="{{ ServerDetail['Hostname'] }}" type="text" data-length="20">
										<label for="domain">Domain</label>
									</div>
								</div>
								<div class="row">
									<p>
										<label>
										<input type="checkbox" name="custom7" value="1" id="custom7" />
										<span>Enable Mod Security?</span>
										</label>
									</p>
								</div>
								<div class="row">
									<label  for="error" id="errortxt" value="" style="color:red;"></label>
								</div>
								<div class="row">
									<a class="waves-effect waves-light btn" onclick="addserver();"><i class="material-icons right">send</i>Update Server</a>
								</div>
							</form>
						</div>
					</div>
					<div id="tab_d" class="col s12">
						<form action="#">
							<div class="input-field col s6">
								<select>
									<option value="" disabled selected>Choose Year</option>
									<option value="2018">2018</option>
								</select>
								<label>Select Year</label>
							</div>
							<div class="input-field col s6">
								<select>
									<option value="" disabled selected>Choose Month</option>
									<option value="Jun">Jun</option>
									<option value="Jul">Jul</option>
									<option value="Aug">Aug</option>
								</select>
								<label>Select Month</label>
							</div>
							<div class="row">
								<a class="waves-effect waves-light btn" onclick="addserver();"><i class="material-icons right">get_app</i>Download Report</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
<!-- Tambahan JS masukkin ke parent -->
{% block js %}
	<script src="{{ url_for('static', filename='js/MainPageChart.js') }}"></script>
	<script>
		$(document).ready( function () {
			$('#SecurityLogTable').DataTable({
	            "bLengthChange": false,
				"bAutoWidth": false
			});
			
			$('#AccessLogsTable').DataTable({
	            "bLengthChange": false,
				"bAutoWidth": false
			});
			$('#ServerListTable').DataTable({
	            "bLengthChange": false,
	            "bFilter": false,
	            "bInfo": false,
	            "bAutoWidth": false
	        });
			$('.tabs').tabs();
			$('.ModalDetailPage').modal();
		    $('select').formSelect();
		});
	</script>
{% endblock %}