{% extends "layout.html" %}

{% block body %}
	<!-- Cards For Statistic -->
	<div id="MainLayout">
		<div id="PopUpDetail" class="modal">
			<div class="modal-content">
				<h4></h4>
				{% autoescape true %}
				<ul class="tabs tabs-fixed-width tab-demo z-depth-1" >
					<li class="tab"><a class="active" href="#tabTableLog_Index" >Table Log</a></li>
					<li class="tab"><a href="#TabRequestHeader_Index" >Request Header</a></li>
					<li class="tab"><a href="#TabResponseHeader_Index" >Response Header</a></li>
					<li class="tab"><a href="#TabJSONLog_Index" >JSON Log</a></li>
				</ul>
				{% endautoescape %}
				<div class="tab_content" style="background-color: white;padding-left: 13px;padding-top: 10px; overflow-y: scroll;overflow-x: scroll;">
					<div id="tabTableLog_Index" class="col s12">
						<div class="row">
							<h4>Detail Log</h4>
							<hr>
							<table class="display">
								<thead>
									<tr>
										<th>ID</th>
										<th>Message</th>
										<th>Match</th>
										<th>Ref</th>
										<th>RuleID</th>
										<th>File</th>
										<th>LineNumber</th>
										<th>Data</th>
										<th>Severity</th>
										<th>Version</th>
										<th>Rev</th>
										<th>Tags</th>
										<th>Maturity</th>
										<th>Accuracy</th>
									</tr>
								</thead>
								<tbody id="PopUpSecLog">
								</tbody>
								<tbody style="display:none">
									<tr id="PopUpSecLogTemplate">
										<td class="iID"></td>
										<td class="iMessage"></td>
										<td class="iMatch"></td>
										<td class="iReference"></td>
										<td class="iRuleID" style="text-align:center"></td>
										<td class="iFile"></td>
										<td class="iLineNumber" style="text-align:center"></td>
										<td class="iData"></td>
										<td class="iSeverity" style="text-align:center"></td>
										<td class="iVer"></td>
										<td class="iRev"></td>
										<td>
											<ul class='tagslider'>
												<li style='cursor: pointer;'>
													Tags
													<ul class='detailtagslider'>
														<li>tagsss1</li>
													</ul>
												</li>
											</ul>
										</td>
										<td class="iMaturity" style="text-align:center"></td>
										<td class="iAccuracy" style="text-align:center"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- REQUEST HEADER SECCTION -->
					<div id="TabRequestHeader_Index" class="col s12">
						<div class="row">
							<h4>Request Header</h4>
							<hr>
							<table style="width:100%;">
								<tr id="RequestHeaderSection">
								</tr>
							</table>
						</div>
					</div>
					<!-- END OF REQUEST HEADER SECTION -->
					<!-- RESPONSE HEADER SECCTION -->
					<div id="TabResponseHeader_Index" class="col s12">
						<div class="row">
							<h4>Response Header</h4>
							<hr>
							<table style="width:100%;">
								<table style="width:100%;">
									<tr id="ResponseHeaderSection">
									</tr>
								</table>
							</table>
						</div>
					</div>
					<!-- END OF RESPONSE HEADER SECTION -->
					<!-- JSON Log SECCTION -->
					<div id="TabJSONLog_Index" class="col s12">
						<div class="row">
							<h4>JSON Log</h4>
							<hr>
							<div class="input-field col s12">
								<textarea disabled="" class="form-control" rows="20" id="jsonlog"></textarea>
								<label for="textarea1"></label>
							</div>
						</div>
					</div>
					<!-- JSON Log SECTION -->
				</div>
			</div>
		</div>

		<div id="ServerDetailPopUp" class="modal">
            <div class="modal-content">
               <h4></h4>
               <ul class="tabs tabs-fixed-width tab-demo z-depth-1" >
                  <li class="tab"><a class="active" href="#TabSecurityLog_ServerDetail" >Security Log</a></li>
                  <li class="tab"><a href="#TabAccessLog_ServerDetail" >Access Log</a></li>
                  <li class="tab"><a href="#TabEditServer_ServerDetail" >Edit Server</a></li>
                  <li class="tab"><a href="#TabDownload_ServerDetail" >Download Report</a></li>
               </ul>
               <div class="tab_content" style="background-color: white;border-radius: 1px;padding-left: 13px;padding-top: 10px; border-bottom: solid 1px;overflow-y: scroll;overflow-x: scroll;">
                  	<div id="TabSecurityLog_ServerDetail" class="col s12">
	                    <div class="row">
	                        <table class="display">
	                           <thead>
	                              <tr>
	                                 <th>ID</th>
	                                 <th>Date/Time</th>
	                                 <th>EventName</th>
	                                 <th>IP Source</th>
	                                 <th>Destination</th>
	                                 <th>Action</th>
	                              </tr>
	                           </thead>
	                           <tbody id="Table_SecLog_ServerDetail">
	                           </tbody>
	                           <tbody style="display: none;">
	                              <tr id="Table_SecLog_ServerDetail_Template">
	                                 <td class="iID_SecLog_Server_Detail"></td>
	                                 <td class="iDate_SecLog_Server_Detail"></td>
	                                 <td class="iEventName_SecLog_Server_Detail"></td>
	                                 <td class="iIPSource_SecLog_Server_Detail"></td>
	                                 <td class="iDestination_SecLog_Server_Detail"></td>
	                                 <td class="iAction_SecLog_Server_Detail">
	                                 </td>
	                              </tr>
	                           </tbody>
	                        </table>
	                    </div>
                  	</div>
					<div id="TabAccessLog_ServerDetail" class="col s12">
					 <div class="row">
					    <div class="col s12">
					       <table class="display">
					          <thead>
					             <tr>
					                <th>TimeStamp</th>
					                <th>From</th>
					                <th>To</th>
					                <th>Request</th>
					                <th>Request Body</th>
					                <th>Status</th>
					                <th>Body Bytes Sent</th>
					                <th>User Agent</th>
					             </tr>
					          </thead>
					          <tbody id="Table_AccessLog_ServerDetail">
					          	
					          </tbody>
					          <tbody style="display: none;">
					             <tr id="Table_AccessLog_ServerDetail_Template">
					                <td class="iDate_AccessLog_Server_Detail">Tue Jun 5 10:34:20 2018</td>
					                <td class="iIPFrom_AccessLog_Server_Detail">192.168.30.403</td>
					                <td class="iIPTo_AccessLog_Server_Detail">192.168.1.1</td>
					                <td class="iRequest_AccessLog_Server_Detail">GET /GetAccessLogs.php HTTP/1.0</td>
					                <td class="iRequestBody_AccessLog_Server_Detail">ServerName=Report&IP=4.4.1.1&Port=8080&Domain=www.reporting.com&ModSecurity=1</td>
					                <td class="iStatusCode_AccessLog_Server_Detail">200</td>
					                <td class="iBodyBytesSent_AccessLog_Server_Detail">33</td>
					                <td class="iUserAgent_AccessLog_Server_Detail">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36</td>
					             </tr>
					          </tbody>
					       </table>
					    </div>
					 </div>
					</div>
					<div id="TabEditServer_ServerDetail" class="col s12">
					 <div class="row">
					    <form class="col s12">
					       <div class="row">
					          <div class="input-field col s6">
					             <input name="servername" id="servernametxt" type="text" data-length="20">
					             <label for="servername">Server Name</label>
					          </div>
					          <div class="input-field col s6">
					             <input name="ip" id="iptxt" type="text" data-length="20">
					             <label for="ip">IP</label>
					          </div>
					       </div>
					       <div class="row">
					          <div class="input-field col s6">
					             <input name="portsopen" id="portsopentxt" type="text" data-length="20">
					             <label for="portsopen">Ports Open</label>
					          </div>
					          <div class="input-field col s6">
					             <input name="domain" id="domaintxt" type="text" data-length="20">
					             <label for="domain">Domain</label>
					          </div>
					       </div>
					       <div class="row">
					          <p>
					             <label>
					             <input type="checkbox" name="custom7" value="1" id="custom7" />
					             <span>Enable Mod Security?</span>
					             </label>
					          </p>
					       </div>
					       <div class="row">
					          <label  for="error" id="errortxt" value="" style="color:red;"></label>
					       </div>
					       <div class="row">
					          <a class="waves-effect waves-light btn" onclick="addserver();"><i class="material-icons right">send</i>Update Server</a>
					       </div>
					    </form>
					 </div>
					</div>
					<div id="TabDownload_ServerDetail" class="col s12">
					 <form action="#">
					    <div class="input-field col s6">
					       <select>
					          <option value="" disabled selected>Choose Year</option>
					          <option value="2018">2018</option>
					       </select>
					       <label>Select Year</label>
					    </div>
					    <div class="input-field col s6">
					       <select>
					          <option value="" disabled selected>Choose Month</option>
					          <option value="Jun">Jun</option>
					          <option value="Jul">Jul</option>
					          <option value="Aug">Aug</option>
					       </select>
					       <label>Select Month</label>
					    </div>
					    <div class="row">
					       <a class="waves-effect waves-light btn" href="rpdf" target="_blank"><i class="material-icons right">get_app</i>Download Report</a>
					    </div>
					 </form>
					</div>
               </div>
            </div>
         </div>

		{% for message in get_flashed_messages() %}
			<div class=flash>{{ message }} </div>
		{% endfor %}
		<h4>Dashboard</h4>
		<hr>
		<div class="row" style="grid-auto-flow: row dense;">
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<div class="chart-container">
							<canvas id="ChartDailyServeActivity"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<div class="chart-container">
							<canvas id="ChartTotalAttack"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="ChartMethodServePerDay"></canvas>                    
					</div>    
				</div>
			</div>
		</div>
			<div class="row">
			 <div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="ChartStatusCodeErrors"></canvas>                    
					</div>    
				</div>
			</div>
			 <div class="col s6 m4">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="ChartUserAgent"></canvas>                    
					</div>    
				</div>
			</div>
		</div>
		<!-- CountDown Reload Page -->
		<div>
			<h6 style="text-align: center;"> Auto Reload In
				<div id="countdown"></div>
			</h6>
		</div>
		<h4>Logs</h4>
		<hr>
		<div class="row">
			<div class="col s12" style="height: auto">
				<ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-bottom: 5px">
					<li class="tab"><a class="active" href="#SecurityLogs" >Security Log</a></li>
					<li class="tab"><a  href="#AccessLogs" >Access Log</a></li>
				</ul>
				<div class="tab_content" style="background-color: white;border-radius: 1px;padding-left: 13px;padding-top: 10px;overflow-y: scroll;overflow-x: scroll;">
					<div id="SecurityLogs" class="col s12">
						<div class="row">
							<table id="SecurityLogTable" class="display">
								<thead>
									<tr>
										<th>ID</th>
										<th>Date/Time</th>
										<th>EventName</th>
										<th>Destination</th>
										<th>IP Source</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									{% for data in SecurityLog %}
										
										<tr>
											<td> {{ data['transaction']['id'] }} </td>
											<td> {{ data['transaction']['time_stamp'] }} </td>
											<td> {{ data['transaction']['messages']['message'] }} </td>
											<td> {{ data['transaction']['request']['headers']['Host'] }} </td>
											<td> {{ data['transaction']['host_ip'] }}:{{ data['transaction']['host_port'] }} </td>
											<td>
												<!-- <a class="tooltip modal-trigger" ValueLogID="{{ data['transaction']['id'] }}" href="#PopUpDetail"> -->
												<a class="tooltip modal-trigger LogDetailPopUpButtonTrigger_Index" ValueLogID="{{ data['transaction']['id'] }}" href="#PopUpDetail">
													<i class="material-icons">pageview</i>
													<span class="tooltiptext">Detail</span>
												</a>
											</td>
										</tr>
										
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div id="AccessLogs" class="col s12">
						<div class="row">
							<div class="col s12">
								<table id="AccessLogsTable" class="display">
									<thead>
										<tr>
											<th>TimeStamp</th>
											<th>From</th>
											<th>To</th>
											<th>Request</th>
											<th>Request Body</th>
											<th>Status</th>
											<th>Body Bytes Sent</th>
											<th>User Agent</th>
										</tr>
									</thead>
									<tbody>
										{% for data in AccessLogs%}
										<tr>
											<td>{{ data['time_local'] }}</td>
											<td>{{ data['remote_addr'] }}</td>
											<td>{{ data['server_pass2'] }}</td>
											<td>{{ data['request'] }}</td>
											<td>{{ data['request_body'] }}</td>
											<td>{{ data['status'] }}</td>
											<td>{{ data['body_bytes_sent'] }}</td>
											<td>{{ data['http_user_agent'] }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h4>Servers</h4>
		<hr>
		<div class="row">
			<table id="ServerListTable" class="display">
				<thead>
					<tr>
						<th style="text-align: center;">No</th>
						<th style="text-align: center;">Server Name</th>
						<th style="text-align: center;">Hostname</th>
						<th style="text-align: center;">IP Address</th>
						<th style="text-align: center;">Port</th>
						<th style="text-align: center;">ModSecurity</th>
						<th style="text-align: center;">Status</th>
						<th style="text-align: center;">Action</th>
					</tr>
				</thead>
				<tbody>
					
					{% for data in ServerListResult %}
							<tr>
								<td style="text-align: center">{{ loop.index }}</td>
								<td style="text-align: center">{{ data['ServerName'] }}</td>
								<td style="text-align: center">{{ data['Hostname'] }}</td>
								<td style="text-align: center">{{ data['IP'] }}</td>
								<td style="text-align: center">{{ data['Port'] }}</td>
								<td style="text-align: center">{{ data['ModSecurity'] }}</td>
								{% if '-1' in data['Ping'] %}
									<td style="background-color: pink;text-align: center">Offline</td>
								{% else %}
									<td style="background-color: lightgreen;text-align: center">Online ({{ data['Ping'] }} ms)</td>
								{% endif %}
								
								<td style="text-align: center">
									<a class="tooltip modal-trigger ServerDetailPopUpButton" ServerID="{{ data['ServerID'] }}" href="#ServerDetailPopUp">
				                        <i class="material-icons">pageview</i>
				                        <span class="tooltiptext">Detail</span>
			                        </a>
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div style="float: right;padding-right: 1%;padding-bottom: 1%">
			<a href="addServer" class="waves-effect waves-light btn-small"><i class="material-icons left">playlist_add</i>Add Server</a>
		</div>
	</div>
{% endblock %}

<!-- Tambahan JS masukkin ke parent -->
{% block js %}
	<script src="{{ url_for('static', filename='js/MainPageChart.js') }}"></script>
{% endblock %}