<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>WAF(er) Manager</title>
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/MainPageStyle.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/Material-icons.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">

	    <!-- untuk CSS tambahan dari child -->
	    {% block css %}

	    {% endblock %}
	</head>
	<body>

		<!-- Sidebar -->
		<ul class="sidenav sidenav-fixed">
			<li>
				<div class="user-view">
					<div class="background"><img src="{{ url_for('static', filename='images/GrassBackgroundProfilePic.jpg') }}"></div>
					<a><img class="responsive-img circle" src="{{ url_for('static', filename='images/LegoProfilePic.png') }}"></a>
					<span class="black-text name">
					{% if session.userProfileName %}
						<b>{{ session.userProfileName }}</b>
					{% else %}
						UserName
					{% endif %}
					</span>
					<span class="black-text email">
						{% if session.UserJobPosName %}
							{{ session.UserJobPosName }}
						{% else %}
							UserJob
						{% endif %}
					</span>
				</div>
			</li>
			<li>
				<a class="waves-effect" href="/">
					<i class="material-icons">home</i>
					Home
				</a>
			</li>
			<li>
				<a class="waves-effect" href="#!">
					<i class="material-icons">perm_data_setting</i>
					ModSec Configuration
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="subheader">Profile Settings</a>
			</li>
			<li>
				<a class="waves-effect waves-light modal-trigger" href="#modalchangepassword">
					<i class="material-icons">lock</i>Change Password</a>
			</li>
			<li>
				<a class="waves-effect" href="logout" style="color: red">
					<i class="material-icons" style="color: red">power_settings_new</i>Logout
				</a>
			</li>
		</ul>
		<!-- Modal Structure -->
		<div id="modalchangepassword" class="modal modal-fixed-footer">
			<div class="modal-content">
				<div class="">
					<h4>CHANGE PASSWORD</h4>
					<hr>
				</div>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<input id="oldpasswordtxt" type="password" class="validate">
								<label for="oldpassword">Old Password</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="newpasswordtxt" type="password" class="validate">
								<label for="newpassword">New Password</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="confirmtxt" type="password" class="validate">
								<label for="confirmtxt">Confirm Password</label>
							</div>
						</div>
						<div class="row">
							<label for="error" class="cols-sm-2 control-label" id="errortxt" value="" style="color:red;"></label>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<a class="waves-effect waves-light btn" id="BtnSendChangePassword"><i class="material-icons right">send</i>Submit</a>
				<a class="waves-effect waves-light btn" onclick="$('#modalchangepassword').modal('close')" href="#!">Cancel</a>
			</div>
		</div>
		{% block body %}

		{% endblock %}
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	    
	    <!-- untuk JS tambahan dari child -->
	    {% block js %}

	    {% endblock %}
	    <script type="text/javascript">
	    	$('#BtnSendChangePassword').on("click", function (e) {
				$.ajax({
					url: "ChangePassword", 
					type: 'post',
					data: {
						"OldPassword": $("#oldpasswordtxt").val(),
						"NewPassword": $("#newpasswordtxt").val(),
						"ConfNewPassword": $("#confirmtxt").val()
					},
					beforeSend: function(){
										 
					},
					error: function(result){
										  
					},
					success: function(result){
						
						console.log(result);
						 
					}
				});
			}); 
	    	$('.tabs').tabs();
			$('.modal').modal();
	    </script>
	</body>

</html>
	