<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>WAF(er) Manager</title>
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/MainPageStyle.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/Material-icons.css') }}">
	    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">

	    <!-- untuk CSS tambahan dari child -->
	    {% block css %}

	    {% endblock %}
	</head>
	<body>

		<!-- Sidebar -->
		<ul class="sidenav sidenav-fixed">
			<li>
				<div class="user-view">
					<div class="background"><img src="{{ url_for('static', filename='images/GrassBackgroundProfilePic.jpg') }}"></div>
					<a href="#user"><img class="responsive-img circle" src="{{ url_for('static', filename='images/LegoProfilePic.png') }}"></a>
					<a href="#name"><span class="black-text name">User Name</span></a>
					<a href="#email"><span class="black-text email">User Position</span></a>
				</div>
			</li>
			<li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
			<li><a class="waves-effect" href="server"><i class="material-icons">view_list</i>Servers</a></li>
			<li><a class="waves-effect" href="#!"><i class="material-icons">perm_data_setting</i>ModSec Configuration</a></li>
			<li><div class="divider"></div></li>
			<li><a class="subheader">Profile Settings</a></li>
			<li><a class="waves-effect" href="#!"><i class="material-icons">lock</i>Change Password</a></li>
			<li><a class="waves-effect" href="#!" style="color: red"><i class="material-icons" style="color: red">power_settings_new</i>Logout</a></li>
		</ul>
		{% block body %}

		{% endblock %}



		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	    
	    <!-- untuk JS tambahan dari child -->
	    {% block js %}

	    {% endblock %}
	</body>

</html>
	